---
layout: base
title: alifeee's weeknotes
css:
- /stylesheet_index.css
---

Site is currently a work in progress :)

<section id="weeknotes">
  {{#each (reversed collections.weeknotes)}}
  <div class="weeknote">
    <h2>
      {{ weeknoteTitle data.page.fileSlug }}
    </h2>
    <time>{{ dateDisplay data.page.date }}</time>
    <a href="{{ data.page.fileSlug }}"></a>
  </div>
  {{/each}}
</section>