---
layout: base
---

<h1>Weeknotes!</h1>

Site is currently a work in progress :)

<ul>
  {{#each collections.weeknotes}}
  <li>
    <a href="{{ data.page.fileSlug }}">
      <span>
        {{ data.page.fileSlug }}
      </span>
      -
      <time>{{ dateDisplay data.page.date }}</time>
    </a>
  </li>
  {{/each}}
</ul>
