main {
  min-width: 100%;
}

#introduction {
  text-align: start;
}

#weeknotes {
  display: grid;
  grid-auto-rows: 1fr;
  padding-right: 2rem;
}

.weeknote {
  padding: 1rem;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title date"
    "words links";
  grid-gap: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  max-width: 40rem;
  min-width: 25rem;
  position: relative;
  background-color: #f5abb7;

  background-size: 25px 25px;
  background-image: repeating-linear-gradient(
    -45deg,
    #9591 0,
    #9591 2px,
    #f5abb7 0,
    #f5abb7 50%
  );
}

.weeknote {
  text-align: center;
}

.weeknote h2 {
  margin: 0;
  grid-area: title;
}

.weeknote .words {
  grid-area: words;
  color: #444;
}

.weeknote .links {
  grid-area: links;
  color: #444;
}

.weeknote .date {
  grid-area: date;
  color: #444;
}

.weeknote a {
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.tracker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0.125rem;
}
.tracker.no-notes {
  grid-column: 2 / -1;
  color: gray;
  display: flex;
  justify-content: start;
  align-items: center;
}
.tracker .tag {
  padding: 0.25rem 0.25rem;
  width: 100%;
  text-align: center;
  z-index: 5;
  background-color: white;
  border-radius: 0.25rem;
  rotate: var(--r);
  border-width: 3px;
  border-style: solid;
  box-sizing: content-box;
}
.tracker .tag.thick {
  border-width: 6px;
  margin: -3px;
}
.tracker .up {
  position: absolute;
  top: calc(50% + var(--m) * -100%);
  width: 2px;
  height: calc(100% * var(--m));
}
.tracker .up.thick {
  width: 4px;
}

@media (max-width: 1200px) {
  main {
    max-width: 40rem;
  }
  #weeknotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .weeknote {
    margin-top: 1rem;
    width: 100%;
    min-width: initial;
  }
  .tracker {
    margin-bottom: 0.25rem;
  }
  .tracker .up {
    display: none;
  }
}
